<md-content>
<div layout="column">
	<div ng-show="sessionService.getRootUser().is_admin">
		<md-button ng-show="!figure.verified" ng-click="approvePublicFigure()" class="md-raised" ng-cloak>
			Approve as public figure
		</md-button>
		<md-button ng-show="figure.verified" ng-click="revokePublicFigure()" class="md-raised" ng-cloak>
			Revoke as public figure
		</md-button>
	</div>
	<div>
		<a ng-href="{{ figure.fb_profile_url }}">
			<h3 ng-bind="figure.name"></h3>
		</a>
	</div>
</div>
</md-content>