<md-content>
<div layout="row">
    <div flex="20"></div>
    <div flex="60" layout="column">
	<div>
		<a ng-click="navService.goToPost(post.id)"><h3 ng-bind="post.title"></h3></a>
		<div layout="row" layout-align="center center">
			<div layout="column">
				<div ng-repeat="figure in post.public_figures">
					<b ng-bind="'@'+figure.name" ng-click="navService.goToPublicFigure(figure.id)"></b>
				</div>
			</div>
			<div flex></div>
			<div>
				<md-card>
			      <img class="md-avatar" ng-src="{{ post.author.fb_profpic_url }}"></img>
			    </md-card>
			</div>
			<div>
				<h3 ng-bind="'by ' + post.author.name + ' on ' + post.created_at"
					ng-click="navService.goToProfile(post.author.id)">
				</h3>
			</div>
		</div>
		<p ng-bind="post.body"></p>
	</div>

	<pw-post-bar post="post"></pw-post-bar>

</div>
<div flex="20"></div>
</div>

</md-content>