  <div layout="row">
    <div flex="20"></div>
    <div flex="60" layout="column">
      <md-button ng-click="navigator.goToCurrentUserProfile()">
          <span flex>Are you a public figure? Request access</span>
          <md-tooltip>
          Public Figure Validation
        </md-tooltip>
        </md-button>
      <md-content>
      <div layout="column" class="md-padding">
        <md-subheader class="md-no-sticky">Top Questions</md-subheader>
        <md-divider ></md-divider>
        <div class="md-2-line" ng-repeat="post in posts | orderBy :'-upvotes' ">
          <pw-post post="post"></pw-post>
      </div>
    </div>
  </md-content>
</div>
<div flex="20"></div>
</div>