<!DOCTYPE html>
<html>
<head>
  <title>Washington</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
 
    <%= link_to "Login with Facebook", "/users/auth/facebook" %>

</body>
</html>