<!DOCTYPE html>
<html>
<head>
  <title>Washington</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  	<md-content>
    <div layout="row">
  <div flex>
    <%= link_to "Login with Facebook", "/users/auth/facebook" %>
  </div>
</div>
  </md-content>

</body>
</html>