<div layout="row">
	<div flex="30">
		<md-button ng-click="upvotePost()" class="md-raised" ng-cloak>
		Good Question | {{ post.upvotes }}
		<md-tooltip>
		upvote
	</md-tooltip>
</md-button>
</div>
<div flex="40"></div>
<div flex="30">
	<md-button ng-click="commentsShown = !commentsShown" class="md-raised" ng-cloak>
	Comments | {{ post.comments.length }}
	<md-tooltip>
	comment
</md-tooltip>
</md-button>
</div>
</div>

<div flex layout="row">
	<div flex="10"></div>
	<div flex="80" layout="column" class="md-padding" ng-show="commentsShown">
		<div flex layout-align="center center" layout="row">
			<div flex>
				<form ng-submit="makeComment(newComment)">
					<md-input-container class="md-icon-float">
					<label>Comment</label>
					<ng-md-icon icon="comment" class="add-comment"></ng-md-icon>
					<input ng-model="newComment" type="text"></input>
				</md-input-container>
				<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"></input>
			</form>
			</div>
	  	</div>

		<div class="md-2-line" ng-repeat="comment in post.comments | orderBy :'-upvotes' ">
			<div><b ng-bind="comment.author.name"></b>
			</div>
			<div ng-bind="comment.body">
			</div>
			<md-divider ></md-divider>
		</div>
	</div>
	<div flex="10"></div>
</div>

<div layout="column" class="md-padding">
	<div flex layout-align="center center" layout="row">
	    <div flex>
	      <form ng-submit="makeAnswer(newAnswer)">
	        <md-input-container class="md-icon-float">
	        <label>Submit Answer</label>
	        <ng-md-icon icon="question_answer" class="add-answer"></ng-md-icon>
	        <input ng-model="newAnswer" type="text"></input>
	      </md-input-container>
	      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"></input>
	    </form>
	  </div>	 
  	</div>

	  <div class="md-2-line" ng-repeat="answer in post.answers | orderBy :'-upvotes' ">
	    <div layout="row" align="center center">
	      <md-card>
	      <img class="md-avatar" ng-src="{{ sessionService.getActiveContributor().fb_profpic_url }}"></img>
	    </md-card>
	    <b ng-bind="answer.author.name+' at '+answer.created_at"></b>
	    </div>
	    <div ng-bind="answer.body"></div>
	    <md-divider ></md-divider>
	  </div>
	  </div>